{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

{% block page_content %}
	<div class='container' style="overflow: hidden;">
      <body style="background-image: linear-gradient(to right, #445898 , #995A10);">
         <h1 style="text-align: center; font-family: Palatino Linotype, Palatino, serif;">Team Members</h1>
         <div>
            <div class="person person-photos"> 
               <img src="https://cdn.discordapp.com/attachments/768921039412396052/778859174854524928/IMG_20180812_193316_538.jpg" alt="Mountain" style="width:400px">
               <h2 style="font-family: Palatino Linotype, Palatino, serif; font-size: 200%; position: relative; left: 110px; line-height: 1.0em;">Alexander Ku</h2>
               <h4 style="font-family: Palatino Linotype, Palatino, serif; color: blue; position: relative; bottom: 10px; left: 150px; line-height: 1.0em;">Back-End</h4>
               <button style="background-color:#050000; position:relative; left: 110px; bottom: 10px; font-family: Palatino Linotype, Palatino, serif; color:white; width: 200px;height: 40px; border-radius: 28px; border: none;" onclick="location.href='https://github.com/deadmemeconnoisseur42'" type="button"> <i class="fab fa-github-alt"></i>
               Github</button value="Submit">
            </div>
            <div class="person person-photos">
                <img src="https://cdn.discordapp.com/attachments/761707638131523606/778811798206808064/https3A2F2Fspecials-images.png" alt="Mountain" style="width: 400px; position: relative; left: 635px; line-height: 1.0em; bottom: 465px;">
                <h2 style="font-family: Palatino Linotype, Palatino, serif; font-size: 200%; position: relative; left: 720px; bottom: 470px;">Christain Campos</h2>
                <h4 style="font-family: Palatino Linotype, Palatino, serif; color: blue; position: relative; bottom: 480px; left: 770px; line-height: 1.0em;">Back-End</h4>
                <button style="background-color:#050000; position:relative; left: 730px; font-family: Palatino Linotype, Palatino, serif; color:white; width: 200px;height: 40px; border-radius: 28px; border: none; bottom: 488px;" onclick="location.href='https://github.com/ccamp032'" type="button"> <i class="fab fa-github-alt"></i>
               Github</button value="Submit">
            </div>
            <div class="person person-photos">
               <img src="https://cdn.discordapp.com/attachments/768921039412396052/778861712605577216/unknown.png" alt="Mountain" style="width: 400px; position: relative; left: 100px; bottom: 420px;">
               <h2 style="font-family: Palatino Linotype, Palatino, serif; font-size: 200%; position: relative; left: 200px; bottom: 410px;">Chris Daniels</h2>
               <h4 style="font-family: Palatino Linotype, Palatino, serif; color: blue; position: relative; bottom: 420px; left: 230px; line-height: 1.0em;">Back-End</h4>
               <button style="background-color:#050000; position:relative; left: 180px; font-family: Palatino Linotype, Palatino, serif; color:white; width: 200px;height: 40px; border-radius: 28px; border: none; bottom: 430px;" onclick="location.href='https://github.com/ChairMane?tab=repositories'" type="button"> <i class="fab fa-github-alt"></i>
               Github</button value="Submit">
            </div>
            <div>
               <img src="https://brokeassstuart.com/wp-content/pictsnShit/2020/06/guy-fieri.jpg" alt="Mountain" style="width: 400px; position: relative; left: 560px; bottom: 810px;">
               <h2 style="font-family: Palatino Linotype, Palatino, serif; font-size: 200%; position: relative; left: 695px; bottom: 810px;">Sameh Fazli</h2>
               <h4 style="font-family: Palatino Linotype, Palatino, serif; color: blue; position: relative; bottom: 820px; left: 710px; line-height: 1.0em;">Front-End</h4>
               <button style="background-color:#050000; position:relative; left: 680px; font-family: Palatino Linotype, Palatino, serif; color:white; width: 200px;height: 40px; border-radius: 28px; border: none; bottom: 810px;" onclick="location.href='https://github.com/sfazli96?tab=repositories'" type="button"> <i class="fab fa-github-alt"></i>
               Github</button value="Submit">
            </div>
            
         </div>

	</div>
{% endblock %}

