{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

{% block page_content %}
	<div class='container' style="overflow: hidden;">
      <body style="background-image: linear-gradient(to right, #445898 , #995A10);">
         <h1>Team Members</h1>
         <div>
            <div class="person person-photos">
               <img class="img-fluid" src="https://www.google.com/search?q=fire+emblem&tbm=isch&chips=q:fire+emblem,g_1:robin:k4r52NxPeaA%3D&hl=en&sa=X&ved=2ahUKEwidpZbTxITtAhXvATQIHcQmCGMQ4lYoA3oECAEQGw&biw=1905&bih=968#imgrc=3wtVYwjYjVYO5M" alt="Back-End">
               <h2>Alexander Ku</h2>
               <h4>Back-End</h4>
               <div class="social">
                  <a href="https://github.com/deadmemeconnoisseur42" class="icon-github" target="_blank"></a>
               </div>
         </div>
	</div>
{% endblock %}