{% extends "base.html" %}

{% block page_content %}
<html>
<body>

<h1>The select multiple attribute</h1>
<label for="country">Choose a Country or Countries to filter:</label>
<form action="/great_britain">
  <select name="country" id="country" multiple>
    <option value="Great Britain">Great Britain</option>
    <option value="Japan">Japan</option>
    <option value="Canada">Canada</option>
    <option value="France">France</option>
    <option value="India">India</option>
    <option value="South Korea">South Korea</option>
  </select>
  <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>

{% endblock %}