{% extends "base.html" %}

{% block page_content %}
<div class='container'>
	<body style="background-image: linear-gradient(to right, #445898 , #995A10);">
	<h1 style="color: white;">Top 20 Most Disliked Videos</h1>
	<!-- CHARTS GO HERE -->
	{% autoescape off %}
	{{mostDislikedDiv}}
	{% endautoescape %}
</div>
<div style="margin-top: 150px; margin-left: 700px; margin-right: 700px; margin-bottom: 150px; border: 5px; border-style: solid; border-color: white; padding: 1em; text-align: center">
	<h5 style="color: white;">
		Average Number of Dislikes Per Video:
	</h5>
	<h1 style="color: white;">
		{{averageMostDislikes}}
	</h1>
</div>
{% endblock %}