{% extends "base.html" %}

{% block page_content %}
	<div class='container'>
		<h1>Trending videos on Youtube in the United States</h1>
		<!-- FORM GOES HERE -->
		<form action="{% url 'US' %}" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="submit" class="btn btn-info" value="Submit">
		</form>
		{% if submitbutton == "Submit" %}
		<ul>
			<li>{{ video_id }}</li>
			<li>{{ channel_title }}</li>
			<li>{{ publish_date }}</li>
			<li>{{ category }}</li>
			<li>{{ tags }}</li>
		</ul>
		{% endif %}
	</div>
{% endblock %}